<launch>

  <include file="$(find iai_boxy_description)/launch/upload_boxy.launch" />

  <node pkg="iai_naive_kinematics_sim" type="simulator" name="body_controller" output="screen">
    <rosparam command="load" file="$(find iai_boxy_sim)/config/sim_config.yaml" />
    <remap from="~commands" to="~command" />
    <remap from="~joint_states" to="joint_states" />
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" />

  <node pkg="iai_naive_kinematics_sim" type="map_odom_transform_publisher.py" name="map_odom_transform_publisher" output="screen">
    <param name="parent_frame" value="map"/>
    <param name="child_frame" value="odom"/>
  </node>

</launch>
