<launch>

  <include file="$(find iai_boxy_description)/launch/upload_boxy.launch" />

  <rosparam command="load" file="$(find iai_boxy_sim)/config/boxy_sim.yaml"/>

  <node pkg="ros_control_boilerplate" type="sim_hw_main" name="boxy_sim" output="screen"/>

  <node pkg="controller_manager" type="spawner" name="controller_spawner"
        args="joint_state_controller velocity_controllers --shutdown-timeout 1" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" 
        name="robot_state_publisher" />

</launch>
